@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <div class="row">
        <div class=" col-sm-6">
            <h1 class=" display-4" style="color: sandybrown; text-shadow: 1px 1px black;">Welcome to RPMovies</h1>
            <p class="display-6">Plenty of great movies to view!</p>
            <p class="display-6">Movie rentals and purchasing available</p>
            <p class="display-6">Hours: 10am - 9pm</p>
        </div>
        <div class="col-sm-6">
            <img src="images/film.jpg" style="border-radius: 25px" alt ="film and camera" />
        </div>
    </div>
</div>
