@page
@model RazorPagesGame.Pages.Studios.EditModel

@{
    ViewData["Title"] = "Edit Studio";
}

<h1>Edit Studio</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Studio.ID" />
            <div class="form-group mb-3">
                <label asp-for="Studio.Name" class="control-label"></label>
                <input asp-for="Studio.Name" class="form-control" />
                <span asp-validation-for="Studio.Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Studio.FoundedDate" class="control-label"></label>
                <input asp-for="Studio.FoundedDate" class="form-control" />
                <span asp-validation-for="Studio.FoundedDate" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Studio.Headquarters" class="control-label"></label>
                <input asp-for="Studio.Headquarters" class="form-control" />
                <span asp-validation-for="Studio.Headquarters" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Save" class="btn custom-btn" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}