@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Track your Workouts with Ease</h1>
    <h4 style="width: 50%; margin-right:auto;margin-left:auto;">
        Our workout tracker lets you add exercises and create workout logs
        to easily track your exercise routines and share them with others.
    </h4>
</div>
